
html, body{
    background-color: #313131;
}


.headerImage{
    background-image: url('../images/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.vertical-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    color: #FFFFFF;
}

h4 {
    padding-top: 100px;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

h1{
    margin-bottom: 80px;
}

.about {
    padding-top: 50px;
    background: #ebebeb;
    padding-left: 20px;
}

.signature {
    padding: 15px;
}

.join-us{
    background: #313131;
    padding-top: 50px;
    padding-bottom: 50px;
}

.white{
    color: #FFFFFF;
}

h2{
    text-transform: uppercase;
    font-size: 48px;

}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.button{
    padding-left: 90px;
}

.btn{
    padding: 35px 60px;
    font-size: 48px;
}

.work{
    padding-top: 40px;
    color: #FFFFFF;
}

.mb50{
    margin-bottom: 50px;
}

.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}

