
html, body{
    background-color: white;
}


.headerImage{
    background-image: url('../images/overlay.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.vertical-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    color: #FFFFFF;
}

h4 {
    padding-left: 130px;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 40px;
}

h1 {
    font-size: ;
}