h1{
    text-transform: uppercase;
    padding: 50px;
    font-size: 75px;
    color: #FFFFFF;
    margin-bottom: 100px;
}

span.sub-title{
    color: #FFFFFF;
    padding: 40px;
    font-size: 33px;
    margin-bottom: 200px;
}

html, body{
    background-color: white;
}


.headerImage{
    background-image: url('../images/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;

    text-align: center;
}

.top{
    color: #FFFFFF;
}
